/* --------------------------------------
    responsive-device 
------------------------------------------*/


/*-------------------------------------------
     TABLET DEVICE 
-------------------------------------------*/
@media only screen and (min-width: 689px) and (max-width: 991px) {

    /* nav */
    nav {
        display: flex;
        flex-direction: column;

    }

    .nav-left {
        margin-bottom: 30px;
    }

    /* banner-section */
    .banner-section {
        display: flex;
        flex-direction: column;
    }

    .banner-left {
        padding-top: 0;
    }

    .banner-right {
        padding: 50px 0 0 0;
    }

    /* brand-section */
    .brands {
        grid-template-columns: repeat(4, 1fr);
    }

    /* product-section */
    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    /* categories */
    .categories {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            " tv tv  "
            " camera phone"
            " computer audio"
        ;
    }

    .tv-thumb {
        padding-top: 0;

    }

}



/*-------------------------------------------
     MOBILE DEVICE 
-------------------------------------------*/
@media only screen and (max-width: 689px) {

    .container {
        margin: 0 50px;
    }

    /* nav */
    nav {
        display: flex;
        flex-direction: column;

    }

    .nav-left {
        margin-bottom: 30px;
    }

    .nav-right {
        display: none;
    }

    /* banner-section */
    .banner-section {
        display: flex;
        flex-direction: column;
    }

    .banner-left {
        padding-top: 0;
    }

    .banner-right {
        padding: 50px 0 0 0;
    }

    .banner-right figure img {
        width: 100%;
    }



    /* brand-section */
    .brands {
        grid-template-columns: 1fr;
    }

    /* product-section */
    .products {
        grid-template-columns: 1fr;
    }

    /* categories */
    .categories {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            " tv "
            " camera"
            " phone "
            " computer "
            "  audio"
        ;
    }

    .tv-thumb {
        padding-top: 0;

    }

}